* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --canvas-dimension: 500px;
  --canvas-size: 16;
  --fill-color: rgb(116, 116, 116);
  --primary-color: rgb(197, 0, 0);
  --secondary-color: rgb(235, 192, 1);
  --button-position: -8rem;
  --button-size: 75px;
  --container-gap: 16px;
  --btn-dimension: 75px;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgb(53, 53, 53);
  position: relative;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

/*  CONTAINER */

.container {
  position: relative;
  background-color: var(--primary-color);
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 20px;
  width: calc(var(--canvas-dimension) + 6em);
  height: calc(var(--canvas-dimension) + 14em);
  box-shadow: 0px 10px 0px 10px #ffa2a2;
}

.header {
  text-align: center;
  font-size: 3rem;
  font-family: 'Bungee Shade', Arial, Helvetica, monospace, cursive;
  color: white;
}

.canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: white;
  border-radius: 2px;
  outline: 3px solid black;
  outline-offset: -1px;
  width: calc(var(--canvas-dimension) + 0.5px);
  height: calc(var(--canvas-dimension) + 0.5px);
  margin: auto;
}

.pixel {
  background-color: white;
  width: calc(var(--canvas-dimension) / var(--canvas-size));
  height: calc(var(--canvas-dimension) / var(--canvas-size));
  transition: background-color ease-in-out 300ms;
}

.pixel-border {
  outline: 0.1px solid rgba(44, 44, 44, 0.74);
}

.pixel-fill {
  background: var(--fill-color);
}

.warning-container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: var(--primary-color);
  width: 40%;
}

.warning-label {
  padding: 0.5em 1em;
  color: white;
  font-size: 0.5rem;
}

/*  BUTTONS */

.btn-container,
.colors-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: auto;
  justify-content: center;
  top: 0;
  bottom: 0;
}

.btn-container {
  left: var(--button-position);
}

.colors-container {
  right: var(--button-position);
}

.btn,
.btn-color,
.overlay {
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  color: rgb(54, 48, 48);
}

.btn,
.btn-color {
  margin: 1.5rem 1.2rem;
  border-radius: 7px;
  background-color: var(--secondary-color);
  height: var(--button-size);
  width: var(--button-size);
  box-shadow: 0px 4px 0px 4px rgb(231, 231, 231);
  transition: transform ease-out 500ms;
}

.btn-active {
  background-color: rgb(77, 77, 77);
  color: white;
}

.btn-color-active,
.btn-color:active {
  background-color: rgb(214, 134, 14);
  box-shadow: 0px 0px 0px 4px rgb(231, 231, 231);
  transform: translateY(3px);
}

/*  SLIDER */

.controls-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 2.2em;
}

.slider-label {
  color: white;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 0.5em;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0.5rem;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  position: absolute;
  appearance: none;
  width: 280px;
  min-width: 100px;
  height: 12px;
  background: white;
  border-radius: 50px;
  outline: none;
  opacity: 0.9;
  transition: opacity 200ms;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 4px solid rgb(71, 71, 71);
  width: 5px;
  height: 20px;
  opacity: 1;
  background: white;
  cursor: pointer;
}

.btn-border,
.btn-slider {
  position: absolute;
  margin-left: 1.2em;
  width: 65px;
  height: 65px;
  border-radius: 50px;
  padding: 0 0.2rem;
  background-color: var(--secondary-color);
  font-size: 1.1rem;
  box-shadow: 0px 2px 0px 2px white;
}

.btn-border {
  left: 4em;
  text-align: center;
  font-size: 0.6rem;
}

.btn-slider {
  right: 2em;
}

/* QUERY MODAL WINDOW */

.query-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  max-width: 320px;
  z-index: 5;
  border-radius: 12px;
  background-color: var(--secondary-color);
  text-align: center;
  font-family: 'Teko', sans-serif;
  color: black;
  padding: 1.5em 1.5em 1em;
}

.query-container {
  display: flex;
  flex-direction: column;
}

.query-element {
  margin: 0.4rem 0;
  font-size: 1.2rem;
}

.query-label {
  line-height: 1.15;
  font-size: 1.5rem;
  font-weight: 600;
}

.query-input,
.btn-query {
  border: none;
  padding: 0.4rem;
}

.query-input {
  border-radius: 5px;
  padding-left: 1rem;
}

.query-input:focus {
  outline: 4px solid rgb(212, 64, 10);
}

.btn-query {
  width: 40%;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0.6rem;
  padding: 0.6em 0.3em;
  border: none;
  background-color: white;
  border-radius: 50px;
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0%;
  margin: auto;
  width: 100%;
  margin-bottom: 1.5em;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-desc {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(224, 224, 224);
  padding-left: 1em;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

/*  HELPER STYLES */

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 2;
}

/*  MEDIA QUERIES */

@media (max-width: 970px) {
  :root {
    --canvas-dimension: 450px;
    --btn-dimension: 60px;
  }

  .btn-container,
  .colors-container {
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    gap: var(--container-gap);
  }

  .btn-container {
    top: auto;
    bottom: 100%;
    margin-bottom: 12px;
  }

  .colors-container {
    right: auto;
    top: 100%;
    bottom: auto;
    margin-top: 22px;
  }

  .btn,
  .btn-color {
    max-height: var(--btn-dimension);
    max-width: var(--btn-dimension);
    font-size: 12px;
  }
}

@media (max-height: 1000px) and (max-width: 970px) {
  main {
    overflow: auto;
  }

  footer {
    position: relative;
  }
}

@media (orientation: landscape) and (max-height: 900px) {
  footer {
    position: relative;
  }
}

@media (max-width: 700px) {
  .slider-container input,
  .slider-label,
  .controls-container {
    display: none;
  }

  .container {
    height: calc(var(--canvas-dimension) + 12em);
  }

  .canvas {
    top: 50px;
  }
}

@media (max-width: 650px) {
  :root {
    --canvas-dimension: 300px;
    --container-gap: 8px;
    --btn-dimension: 50px;
  }

  .header {
    font-size: 36px;
  }

  .container {
    height: calc(var(--canvas-dimension) + 10em);
  }

  .btn-container {
    margin-bottom: 0;
  }

  .colors-container {
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  :root {
    --canvas-dimension: 200px;
    --container-gap: 2px;
  }

  .header {
    font-size: 28px;
  }

  .btn,
  .btn-color {
    margin: 1.5rem 10px;
  }
}
